<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Superhero Sightings</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Bangers|Faster+One|Open+Sans|Montserrat+Subrayada|Patrick+Hand+SC&display=swap" rel="stylesheet">
            
    </head>
    <body id="indexBody">
        <div class="container">
            <div class ="row m-4">
                <div id="headerDiv" class ="col text-center" style="background-color:#F30003">
                    <h1 style="color:#F8CF17">Superhero Sightings Tracker</h1>   
                </div>
            </div>
            <ul>
                <li style="float:left"><a href="home">Home</a></li>
                <li style="float:left"><a href="locations">Locations</a></li>
                <li style="float:left"><a href="sightings">Sightings</a></li>
                <li style="float:left"><a href="supers">Supers</a></li>
                <li style="float:left"><a href="organizations">Organizations</a></li>
                <li style="float:right"><a  class="active" href="contact">Contact Us</a></li>
            </ul> 
        </div>
        <!-- Main Body of Page -->
        <div class ="row m-4" style="justify-content:center">
                <div id="headerDiv" class ="col-10 text-center" style="background-color:#F8CF17">
                    <p></p> 
                    <p id="contactMessage">Thank you for visiting our Super Tracker! This web application was set up by the Hero Education and Relationship Organization(HERO) to keep track of Super Sightings. Have a sighting you want to report?<a href="sightings">
                     Click here.</a></p> 
                    <p id="contactMessage">
                     Calls regarding RECENT sightings are welcomed by the HERO Reporting Center Hotline at 1-(800)SEE-HERO. 
                    </p>
                    <p id="contactMessage">
                        Reach us via e-mail at <a href=mailto:herosightings@hero.org>herosightings@hero.org</a>
                    </p>
                </div>
            </div>
        <!-- End main body -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src='style.js'></script>
    </body>
</html>
